# your url here your local laptop ip
EXPO_PUBLIC_GRAPHQL_HTTP_URL=https://memoflip-production.up.railway.app/graphql

# use railway if you want. this railway link is deployed
EXPO_PUBLIC_API_URL=https://memoflip-production.up.railway.app
