# your url here your local laptop ip
EXPO_PUBLIC_GRAPHQL_HTTP_URL=http://x.x.x.x:4000/graphql

# use render if you want. this render link is deployed
# EXPO_PUBLIC_API_URL=https://memoflip.onrender.com
