NODE_ENV=development
PORT=4000

# Local development
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/memoflip_duel

# Render External URL (for running migrations from your PC)
# DATABASE_URL=postgresql://memoflip_db_user:RANDOMPASSWORD@dpg-xxxx.oregon-postgres.render.com/memoflip_db

# Render Internal URL (for Render environment variables)
# DATABASE_URL=postgresql://memoflip_db_user:RANDOMPASSWORD@dpg-xxxx-a.oregon-postgres.render.com/memoflip_db

JWT_SECRET=your_jwt_secret_here